@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.buttons-like-commit{
    font-size: 24px;
    height: 40px;
    color: black !important; 
  }
  
  .buttons-like-commit:hover{
    text-decoration: none !important;
    color:rgba(0,0,0,0.6) !important;
  }
  
  .color-secondary{
    color:#0095f6!important; 
  }

  .formDeletePost button:hover{
    text-decoration: none !important;

  }

  .widthNotification{
    width: 35vw;
    margin: auto;
    padding: 20px 20px;
    border-radius: 10px;
  }

  .decNone{
    text-decoration: none!important;
    color:#0095f6!important; 
  }
  .decNone:focus{
    box-shadow: none!important;
    color:#0095f6!important; 
  }

  .decNone:hover{
    box-shadow: none!important;
    color:#0095f6!important; 
  }

  .submitComment2{
    color:#0095f6!important;
  }

  .submitComment2[disabled]{
    background-color: white!important;
    border:none;
    color:#0095f6!important;
    cursor:default;
    opacity:1;
    font-weight: 100;
}

.submitComment2:hover{
    text-decoration: none!important;
}

@media screen and (min-width:1025px) and (max-width:1215px) {
  .column{
    width: 33.3333%!important;
  }

}

@media screen and (min-width:769px) and (max-width:1024px) {
  .column{
    width: 50%!important;
  }

}